.status-rust {
    -fx-background-color: rgb(248, 196, 180);
    -fx-border-color: rgb(247,173,151);
}

.chart-plot-background {
    -fx-background-color: transparent;
}
/*to style the axis*/
.axis:left {
    -fx-border-color: transparent rgb(247,173,151) transparent transparent;
}

.axis:bottom{
    -fx-border-color: rgb(247,173,151) transparent transparent;
}